extends layout

block content
  h1 New Job
  include includes/errors
  form(action='/new-job' method='post')
    div
      label(for='cFirst') Client First Name:
        input#cFirst(type='text' name='cFirst')
    div
      label(for='cLast') Last Name:
        input#cLast(type='text' name='cLast')
    div
      select(id='type' name='type')
        option(value = 'none') Select Job type
        option(value = 'land') Landscaping
        option(value = 'tree') Tree Care
    h2 Crew
    div
      label(for='eFirst') Employee First Name:
        input#eFirst(type='text' name='eFirst')
    div
      label(for='eLast') Employee Last Name:
        input#eLast(type='text' name='eLast')
    div
      input(type='submit' value='Add New Job')
