extends layout

block content
  h1 New Employee
  include includes/errors
  form(action='/new-employee' method='post')
    div
      label(for='eFirst') First Name:
        input#eFirst(type='text' name='eFirst')
    div
      label(for='eLast') Last Name:
        input#eLast(type='text' name='eLast')
    div
      label(for='phone') Phone Number:
        input#phone(type='tel' name='phone')
    div
      input(type='submit' value='Add Employee')
