extends layout

block content
  h1 All Clients
  for client in clients 
    p
      a(href='show-client/' + client._id)= client.first + ' ' + client.last
    for job in client.jobDescription
      div Job Type
      div= job.type
      div Crew
      div= job.crew.join(', ')
      
